/* CSS Document */
*, body { font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.templatemo-bg-gray { background-color: #eee; }
.templatemo-bg-gray h1 {
	color:rgb(74,164,180);
	}
.margin-bottom-15 {
	margin-bottom: 15px;
	}
.margin-bottom-30 {	
    margin-bottom: 30px; 
    }
.form-group { margin-bottom: 20px; }
h1 {
	font-weight: 300;
	font-size: 36px;
	line-height: normal;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}
.templatemo-login-form-1 { max-width: 500px; }
.templatemo-container {
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #dedede;
	border-radius: 8px;
	margin: 0 auto;
	padding: 30px;
}
.control-wrapper {
	position: relative;
	padding-left: 30px;
}
.control-wrapper label.fa-label {
	position: absolute;
	left: 4px;
	top: 6px;
}
.form-horizontal .control-label { margin-bottom: 10px; }
.form-horizontal .control-label { padding-top: 0; }
.fa-medium { font-size: 20px; }
.btn-info {
background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-repeat: repeat-x;
border-color: #28a4c9;
}
.templatemo-login-form-1 a { color: gray; }
.form-group a {	line-height: 34px; }
.templatemo-login-form-1 a:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.alert-success{
	display:none;
	margin: 20px auto;
    opacity: 0.8;
    width: 60%;
}