@charset "utf-8";
/* CSS Document */
body{
	color: #797979;
	background: #f1f2f7;
	font-family: 'Open Sans', sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 14px;
	}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a {
    color: #667fa0;
}
ul li {
    list-style: none;
}
table a:not(.btn),.table a:not(.btn){
	text-decoration:none;
	}
/* nav */
#nav{
	background-color:#282828;
	width:100%;
	text-align:center;
	position:fixed;
	z-index:9000;
	top:0;
	left:0;
	box-shadow:0 1px 3px #666;
	
	}
#nav ul{
	margin:5px 0 0;
    float:left; 
	display:block;}
#nav ul li{
	display:inline-block;
	}
#nav ul li a{
	text-decoration:none;
	position:relative;
	color:#fff;
	display:block;
	outline:0;
	
	}
#nav lu li a:hover{
	color:#fff !important;
	}
#nav a{
	padding:10px 8px;;
	margin:10px 15px;
	font-weight:600;
	border-radius:8px;
	color:#fff;
	transition:backgroud-color .2s ease-in-out;
	-o-transition:backgroud-color .2s ease-in-out;
	-ms-transition:backgroud-color .2s ease-in-out;
	-moz-transition:backgroud-color .2s ease-in-out;
	-webkit-transition:backgroud-color .2s ease-in-out;
	}
a.logo {
	font-size: 21px;
	color: #2e2e2e;
	float: left;
	margin-top: 15px;
	text-transform: uppercase;
}
a.logo span {
    color: #FF6C60;
}
 .dropdown-menu.extended.logout {
    top: 30px;
}
.top-menu  > a {
	color: #666666;
	font-size: 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #f0f0f8 !important;
	padding: 2px 6px;
	margin-right: 15px;
}
.top-nav {
    margin-top:30px;
}

.top-nav .notify-label .dropdown > a {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-top: 6px;
	background: none;
	margin-right: 0;

}
.top-nav .top-menu > a {
	border: 1px solid #eeeeee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px;
	background: none;
	margin-right: 0;
}
.top-nav .username {
	font-size: 13px;
	color: #fff;
}
.top-nav .top-menu  .dropdown-menu.logout {
    width: 80px !important;
	height:50px;
}
.top-nav .dropdown-menu.extended.logout {
    top: 40px;
}
.top-nav .dropdown .dropdown-menu {
	float: right;
	right: 0;
	left: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
.dropdown-menu.extended {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
}
.dropdown-menu.extended {
	max-width: 300px !important;
	min-width: 160px !important;
	top: 42px;
	width: 235px !important;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
	border: none !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.log-arrow-up {
	background: url("../img/arrow-up.png") no-repeat;
	width: 20px;
	height: 11px;
	position: absolute;
	right: 20px;
	top: -10px;
}
.dropdown-menu.extended  a {
	padding: 15px 10px !important;
	width: 100%;
	display: inline-block;
}
.dropdown-menu.extended.logout .last-out > a, .dropdown-menu.extended.logout .last-out a:hover {
	color: #000;
	border-bottom: none !important;
	text-transform: uppercase;
}
.dropdown-menu.extended  a {
	
	font-size: 12px;
	list-style: none;
}
.dropdown-menu.extended .logout  {
	float: left;
	text-align: center;
	width: 33.3%;
}
.dropdown-menu.extended.logout .last-out {
	float: left;
	text-align: center;
	width: 100%;
	border-radius:4px;;
   background: #a9d96c;
}
/* main content and table */
.wrapper{
	 margin-top:90px;
	 padding:2em 0;
	}
.btn{
	border-radius:4px;
	width:55px;
	height:30px;
	padding:5px 10px;
	margin-bottom:5px;
	}
.table th,.table{
	border:1px solid #eee;
	border-collapse:collapse;
	}
.txthead{
	color: grey;
    font-family: interstate-font;
    font-size: 1.5em;
    padding: 19px 0 12px;
	}
.add{
	float:right;
	margin:0 50px;
	width:80px;
	height:35px;
	}
form table,.modal table{
	margin:0 auto;
	border-collapse:collapse;
	width:100%;
	}
form td ,.modal td{
	border-bottom:1px solid #eff2f7;
	padding-left:5px;
	padding-top:10px;

	}
.modifyForm tr td:nth-child(1) {
    width:15%;
	}
.modifyForm table{
	width:90%;
	}
.btn-default,.btn-primary,.btn-success,.btn-danger{
	width:auto;
	height:auto;
	}
.form-control{
    border-radius:4px;
	width:100%;
	display:inline;
	}
.form-group{
	margin-right:30px;
	}
#select{
	margin-bottom:5px;
	}
.title{
	border-bottom:1px solid #eff2f7;
    padding: 10px 50px;
	font-size:16px;
	font-weight:600;
	}
.content{
	background:#fff;
	width:90%;
	margin:0px auto;
	border-radius:10px;
	margin-bottom:30px;
	
	}
/* modal*/
.modal{
	top:25px;
	z-index:999999;
	overflow-y:scroll;
	}
.modal-footer{
	border-top:none;
	margin-right:50px;
	}
#bgDiv {
	display: none;
	position: absolute;
	top: 0px;      
	left: 0px;
	right:0px;
	background-color: #777;
	filter:alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	height:100%;
	z-index:9999;
	width:100%;
}

.modal .title{
	padding:20px 0;
	
	}


	
/* newest.html */

.timeline-messages:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    top: 0;
    width: 2px;
}
.timeline-messages:before, .msg-time-chat:before, .msg-time-chat .text:before {
    content: "";
    left: 60px;
    position: absolute;
    top: -2px;
}
.timeline-messages, .msg-time-chat , .timeline-messages .msg-in, .timeline-messages .msg-out {
    position: relative;
}


.timeline-messages .msg-in  .arrow {
    /*border-right: 8px solid #F4F4F4 !important;*/
}
.timeline-messages .msg-in .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.timeline-messages .msg-out  .arrow {
    /*border-right: 8px solid #41cac0 !important;*/
}
.timeline-messages .msg-out .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.msg-time-chat:first-child:before {
    margin-top: 16px;
}
.msg-time-chat:before {
    background:#CCCCCC;
    border: 2px solid #FAFAFA;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    height: 14px;
    margin: 23px 0 0 -6px;
    width: 14px;
}
.msg-time-chat:hover:before {
    background: #41cac0;
}
.msg-time-chat:first-child {
    padding-top: 0;
}
.message-img {
    float: left;
    margin-right: 30px;
    overflow: hidden;
}
.message-img img {
    display: block;
    height: 44px;
    width: 44px;
}
.message-body {
    margin-left: 80px;
}
.msg-time-chat .msg-in .text {
    border: 1px solid #e3e6ed;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.msg-time-chat .msg-out .text {
    border: 1px solid #e3e6ed;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.msg-time-chat p {
    margin: 0;
}
.msg-time-chat .attribution {
    font-size: 11px;
    margin: 0px 0 5px;
}
.msg-time-chat {
    overflow: hidden;
    padding:8px 0;
}
.chat-form{
	margin-top:20px;
	margin-left:60px;
	
	}
.chat-form form td{
	width:auto;
	}
.chat-form form table{
	width:100%;
	}
.chat-features{
	margin-top:20px;
	}
/* search.html */
.searchbox{
	width:90%;
	margin:0 auto;
	background:#fff;
	}
.searched{
   
	}
.pane1-selected{
	border-radius:4px;
	padding:0 200px;
	
	}
.breadcrumb{
	background:none;
	border-bottom:1px solid  #ccc;
	}
/* adminmanage */
.adv-table .dataTables_length, .adv-table .dataTables_filter {
    padding: 15px 0;
}
.adv-table .dataTables_length select {
	display: inline-block;
	margin: 0 10px;
	padding: 5px 8px;
	width: 65px;
}
.dataTables_paginate.paging_bootstrap.pagination {
	float: right;
	margin-right: 15px;
	margin-top: -5px;
	margin-bottom: 15px;
}
.dataTables_paginate.paging_bootstrap.pagination li {
	float: left;
	margin: 0 1px;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.dataTables_paginate.paging_bootstrap.pagination li.disabled a {
    color: #c7c7c7;
}
.dataTables_paginate.paging_bootstrap.pagination li a {
	color: #797979;
	padding: 5px 10px;
	display: inline-block;
}
.adv-table .dataTables_info, .dataTables_paginate {
    padding: 15px;
}


.select-cose{
	position:absolute;
	border:1pt solid #c1c1c1;
	overflow:hidden;
	width:352px;
    height:42px;
	clip:rect(-1px 354px 354px 330px);
	}
#makeupCoSe{
	width:354px;
	height:43px;
	margin:-2px;
	}
.select-co{
	position:absolute;
	border-top:1pt solid #c1c1c1;
	border-left:1pt solid #c1c1c1;
	border-bottom:1pt solid #c1c1c1;
	width:330px;
	height:42px;
	}
#makeupCo{
	width:330px;
	height:38px;
	border:0pt;
	}
